<div class="block">
  <div class="block--heading">
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, optio.</p>
  </div>
  <div class="grid grid--1x2">
    <img src="./images/image-computer.png" alt="" />
    <div>
      <h1>A history of everything you copy</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus
        perspiciatis iure harum officia vitae, nemo fugit aperiam architecto
        repellat aliquam ullam in ut officiis quasi. Corporis nam beatae odio?
      </p>
    </div>
  </div>
</div>
