<section class="brand block">
  <div class="grid grid--1x5">
    <picture>
      <img src="./images/logo-google.png" alt="google logo" />
    </picture>
    <picture>
      <img src="./images/logo-ibm.png" alt="google logo" />
    </picture>
    <picture>
      <img src="./images/logo-microsoft.png" alt="google logo" />
    </picture>
    <picture>
      <img src="./images/logo-hp.png" alt="google logo" />
    </picture>
    <picture>
      <img src="./images/logo-vector-graphics.png" alt="google logo" />
    </picture>
  </div>
</section>
