<footer class="footer block">
  <div class="footer__header">
    <div class="footer__logo">
      <img src="./images/logo.svg" alt="clipboard logo" />
    </div>
    <div class="grid grid--1x3">
      <a class="footer__link" href="#">FAQs</a>
      <a class="footer__link" href="#">Contact Us</a>
      <a class="footer__link" href="#">Privacy Policy</a>
      <a class="footer__link" href="#">Press Kit</a>
      <a class="footer__link" href="#">Install Guide</a>
    </div>
  </div>
  <div class="footer__socialicon">
    <a class="icon" href="#" aria-label="facebook page of huddle">
      <i class="fa-brands fa-square-facebook fa-2xl"></i>
    </a>
    <a class="icon" href="#" aria-label="facebook page of huddle">
      <i class="fa-brands fa-twitter fa-2xl"></i>
    </a>
    <a class="icon" href="#" aria-label="facebook page of huddle">
      <i class="fa-brands fa-instagram fa-2xl"></i>
    </a>
  </div>
</footer>
